/* Fixed 16:9 aspect ratio container */
.onboarding-flow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  max-width: 177.78vh; /* 16:9 aspect ratio: if height is limiting factor */
  max-height: 56.25vw;  /* 16:9 aspect ratio: if width is limiting factor */
  overflow: hidden;
  background: #000;
}

.onboarding-flightplans-widget {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--z-widget);
}

.onboarding-flightplans-widget--intro {
  z-index: calc(var(--z-modal) + 20);
}

