/* Fixed 1920x1080 canvas - users should fullscreen or browser zoom */
.onboarding-flow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background: #000;
}

/* Allow overflow for carousel cards when on launcher */
.onboarding-flow:has(.play-cards-carousel) {
  overflow: visible;
}

.onboarding-flightplans-widget {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--z-widget);
}

.onboarding-flightplans-widget--intro {
  z-index: calc(var(--z-modal) + 20);
}

