.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-background);
  overflow: hidden;
}

.background__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

